*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$white: white;
$blue01: blue;
$blue02:rgb(2, 2, 97);
$blue03:rgb(42, 42, 95);
$frm-bg:rgba(240, 248, 255, 0.1);
$black: black;
